<section id="clients" class="callout-dark">

  <div class="container">

    <div class="row">

      <div class="col-md-12 wow bounceInUp">

        <div id="owl-clients" class="owl-carousel">

          <div class="owl-item">
            <img src="assets/images/logo/client100-1.png" alt="">
          </div>

          <div class="owl-item">
            <img src="assets/images/logo/client100-1.png" alt="">
          </div>

          <div class="owl-item">
            <img src="assets/images/logo/client100-1.png" alt="">
          </div>

          <div class="owl-item">
            <img src="assets/images/logo/client100-1.png" alt="">
          </div>

          <div class="owl-item">
            <img src="assets/images/logo/client100-1.png" alt="">
          </div>

          <div class="owl-item">
            <img src="assets/images/logo/client100-1.png" alt="">
          </div>

        </div>

      </div><!-- .col -->

    </div><!-- .row -->

  </div><!-- .container -->

</section>