<section id="intro" class="section">

  <div class="container">

    <div class="row">

      <div class="col-md-12">
        
        <div class="hello wow bounceInDown">
          <div class="text-left">
            <h4>Bienvenido a</h4>
            <h1>CREG</h1>
            <h3>Costa Rica Entertainment Group</h3>
          </div>
        </div>
      

        <a href="#about">
          <div class="mouse-icon">
            <div class="wheel"></div>
          </div>
        </a>

      </div>

    </div><!-- .row -->

  </div><!-- .container -->

</section>