<section id="skill" class="callout-light">

  <div class="container">

    <div class="row">

      <div class="col-md-3 col-sm-6 knob wow bounceInLeft">
        <input class="custom-knob" data-linecap="round" data-count-to="90">
        <h3>Quality</h3>
        <p>I am alone, and feel the charm of existence in this spot.</p>
      </div>

      <div class="col-md-3 col-sm-6 knob wow bounceInDown">
        <input class="custom-knob" data-linecap="round" data-count-to="75">
        <h3>Creative</h3>
        <p>I am alone, and feel the charm of existence in this spot.</p>
      </div>

      <div class="col-md-3 col-sm-6 knob wow bounceInUp">
        <input class="custom-knob" data-linecap="round" data-count-to="60">
        <h3>Branding</h3>
        <p>I am alone, and feel the charm of existence in this spot.</p>
      </div>

      <div class="col-md-3 col-sm-6 knob wow bounceInRight">
        <input class="custom-knob" data-linecap="round" data-count-to="85">
        <h3>Trendy</h3>
        <p>I am alone, and feel the charm of existence in this spot.</p>
      </div>

    </div><!-- .row -->

  </div><!-- .container -->

</section>