---
layout: default
---

<section id="portfolio-header" class="section-header">

  <div class="color-overlay">

    <div class="container">

      <div class="row">

        <div class="col-sm-12 wow bounceInDown">
        	<div class="spacer"></div>
          <h1 class="post-title">{{ page.title }}</h1>
        </div>

      </div>

    </div>

  </div>

</section>

<section id="portfolio" class="section rotate-section">

  <div class="container">

    <div class="row">
      <div{% if page.logros != null and page.logros != "" %} class="col-md-6"{% endif %}>
        <div class="main-content">
      		{{ content }}
      	</div>
      </div>
      {% if page.logros != null and page.logros != "" %}
      <div class="col-md-6">
        <div class="logros-container">
          <h3>LOGROS</h3>
      		<ul class="logros">
      			{% for logro in page.logros %}
      				<li>{{ logro }}</li>
      			{% endfor %}
      		</ul>
        </div>
      </div>
    	{% endif %}

    </div>





  	<div class="spacer"></div>

    <div class="row grid">

    	<div class="grid-sizer col-md-4 col-sm-6 wow bounceInLeft grid-item"></div>

      {% for imagen in page.photos %}

      <div class="col-md-4 col-sm-6 wow bounceInLeft grid-item">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="/photos/{{ page.gallery }}/{{ imagen }}" data-target="#image-gallery">
          <div class="portfolio-item">
            <div class="portfolio-item-preview">
              <img src="/photos/{{ page.gallery }}/thumbs/{{ imagen }}" />
            </div>
          </div>
        </a>
      </div>

      {% endfor %}

    </div><!-- .row -->

  </div><!-- .container -->

</section>

{% include contact.html %}
<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title" id="image-gallery-title"></h4>
            </div>
            <div class="modal-body">
                <img id="image-gallery-image" class="img-responsive" src="">
            </div>
            <div class="modal-footer">

                <div class="col-md-6">
                    <button type="button" class="btn btn-primary pull-left" id="show-previous-image">Anterior</button>
                </div>

                <div class="col-md-6">
                    <button type="button" id="show-next-image" class="btn btn-default pull-right">Siguiente</button>
                </div>
            </div>
        </div>
    </div>
</div>
